
<h2>Sifremi Unuttum</h2>
<hr>
<form asp-action="ForgotPassword" method="post">
    <div class="mb-3">

        <label for="Email"></label>
        <input name="Email" type="email" class="form-control" />
    <button type="submit" class="btn btn-primary">Gonder</button>
</form>